.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline:none !important;
  box-shadow:none !important;
}

.animate-logo{
/*animation: App-logo-spin infinite 20s linear;*/
}

.curvey-btn{
  border-radius: 20px;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: transparent;
  border:1px solid lightgrey;
}

.overlay_content{
  height:auto;
  width:20%;
  border:1px solid lightgrey;
  border-radius: 10px;
  margin: 20% auto;
  text-align: left;  
}




.overlay_heading {
  width:100%;
  margin-left:2%
}
.overlay_body{
  background:white; 
  width:100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom:1%;
}
.show-div{
  display: block;
 /* animation-name:on;
  animation-duration:0.2s;*/
  animation:on 0.3s ease forwards;
}

.hide-div{
  display: none;
}

.rotate{
 animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from { transform: rotateX(0deg); }
  to { transform: rotateX(360deg); }
}

@keyframes on{
  from{ 
  
  margin: -20% auto;
  
  };

  to{ 
  
  margin: 20% auto;
  
  };

}